'.source.js':
  'Stringify JSON':
    'prefix': 'JSON.stringify'
    'body': 'JSON.stringify($1, null, 2)'
  'Export default function':
    'prefix': 'func'
    'body': """
      export default function ($1) {
        $2
      }

    """
  'Export async default function':
    'prefix': 'afunc'
    'body': """
      export default async function ($1) {
        $2
      }

    """
  'Export default':
    'prefix': 'expdefault'
    'body': """
      export default {
        $1
      }

    """
  'Export const function':
    'prefix': 'expconst'
    'body': """
      export const $1 = function ($2) {
        $3
      }

    """
  'Create try catch':
    'prefix': 'try'
    'body': """
      try {
        $1
      } catch (error) {
        console.log('Error:', error)
      }
    """
  'Console log':
    'prefix': 'logconsole'
    'body': 'console.log($1)'
