'.source.js':
  'Create with graphql':
    'prefix': 'withGraphQL'
    'body': """
      @withGraphQL(gql`query $1{
        $2
      }`)
    """
  'Create with mutation':
    'prefix': 'withMutation'
    'body': """
      @withMutation(gql`mutation $1 {
        $2
      }`)
    """
  'Create with fragment':
    'prefix': 'fragment'
    'body': """
      static fragment = gql`fragment $1 on $2 {
        $3
      }`
    """
  'Mutation function':
    'prefix': 'mutation'
    'body': """
      @a
      async $1 () {
        this.setState({loading: true})
        try {
          await this.props.$2({})
          this.props.showMessage('Success')
        } catch (error) {
          console.log('Error:', error)
          this.props.showMessage(error.message, {level: 'error'})
        }
        this.setState({loading: false})
      }
    """
