'.source.js':
  'Import':
    'prefix': 'im'
    'body': 'import \'./$1\''
  'Import from':
    'prefix': 'imf'
    'body': 'import  from \'./$1\'$2'
  'Import link':
    'prefix': 'implink'
    'body': 'import {Link} from \'react-router\''
  'Import styles file':
    'prefix': 'impstyles'
    'body': 'import styles from \'./styles.css\''
  'Import orionsoft':
    'prefix': 'imporionsoft'
    'body': 'import  from \'orionsoft-parts/lib/$1\'$2'
  'Import with graphql':
    'prefix': 'impgraphql'
    'body': """
      import withGraphQL from 'react-apollo-decorators/lib/withGraphQL'
      import gql from 'graphql-tag'
    """
  'Import with mutation':
    'prefix': 'impmutation'
    'body': """
      import withMutation from 'react-apollo-decorators/lib/withMutation'
      import gql from 'graphql-tag'
    """
  'Import with fragment':
    'prefix': 'impfragment'
    'body': """
      import gql from 'graphql-tag'
    """
  'Import with data':
    'prefix': 'impwithdata'
    'body': 'import {withData} from \'meteor/orionsoft:react-meteor-data\''
  'Import check':
    'prefix': 'impche'
    'body': 'import {check} from \'meteor/check\''
  'Import autobind':
    'prefix': 'impautobind'
    'body': 'import autobind from \'autobind-decorator\''
  'Import create container':
    'prefix': 'impcon'
    'body': 'import {createContainer} from \'meteor/react-meteor-data\''
  'Import Roles':
    'prefix': 'impro'
    'body': 'import {Roles} from \'meteor/nicolaslopezj:roles\''
  'Import Simple Schema':
    'prefix': 'impsschema'
    'body': 'import {SimpleSchema} from \'meteor/aldeed:simple-schema\''
  'Import New Simple Schema':
    'prefix': 'impnewsimpleschema'
    'body': 'import SimpleSchema from \'simpl-schema\''
  'Import Material Colors':
    'prefix': 'immc'
    'body': 'import * as Colors from \'material-ui/styles/colors\''
  'Import Material Component':
    'prefix': 'imc'
    'body': 'import $1 from \'material-ui/$1\''
  'Import Flow Router':
    'prefix': 'impf'
    'body': 'import {FlowRouter} from \'meteor/kadira:flow-router\''
  'Import Underscore':
    'prefix': 'impu'
    'body': 'import _ from \'underscore\' // should change to lodash'
  'Import Lodash':
    'prefix': 'implodash'
    'body': 'import $1 from \'lodash/$1\''
  'Import React':
    'prefix': 'impr'
    'body': 'import React from \'react\''
  'Import React Native':
    'prefix': 'imprn'
    'body': 'import {$1} from \'react-native\''
  'Import Meteor':
    'prefix': 'impme'
    'body': 'import {Meteor} from \'meteor/meteor\''
  'Import Moment':
    'prefix': 'impm'
    'body': 'import moment from \'moment\''
  'Import Numeral':
    'prefix': 'impn'
    'body': 'import numeral from \'numeral\''
  'Import React Icons':
    'prefix': 'impicon'
    'body': 'import $1Icon from \'react-icons/lib/md/$2\''
  'Import Translate':
    'prefix': 'imptr'
    'body': 'import Translate from \'App/i18n\''
