'.source.js':
  'Import styles file':
    'prefix': 'impstyles'
    'body': 'import styles from \'./styles.css\''
  'Import with graphql':
    'prefix': 'impgraphql'
    'body': """
      import withGraphQL from 'react-apollo-decorators/lib/withGraphQL'
      import gql from 'graphql-tag'
    """
  'Import with mutation':
    'prefix': 'impmutation'
    'body': """
      import withMutation from 'react-apollo-decorators/lib/withMutation'
      import gql from 'graphql-tag'
    """
  'Import with fragment':
    'prefix': 'impfragment'
    'body': """
      import withFragment from 'react-apollo-decorators/lib/withFragment'
      import gql from 'graphql-tag'
    """
  'Import with data':
    'prefix': 'impwithdata'
    'body': 'import {withData} from \'meteor/orionsoft:react-meteor-data\''
  'Import check':
    'prefix': 'impche'
    'body': 'import {check} from \'meteor/check\''
  'Import autobind':
    'prefix': 'impautobind'
    'body': 'import autobind from \'autobind-decorator\''
  'Import':
    'prefix': 'im'
    'body': 'import \'./$1\''
  'Import from':
    'prefix': 'imf'
    'body': 'import $2 from \'./$1\''
  'Import create container':
    'prefix': 'impcon'
    'body': 'import {createContainer} from \'meteor/react-meteor-data\''
  'Import Roles':
    'prefix': 'impro'
    'body': 'import {Roles} from \'meteor/nicolaslopezj:roles\''
  'Import Simple Schema':
    'prefix': 'impss'
    'body': 'import SimpleSchema from \'simpl-schema\''
  'Import Material Colors':
    'prefix': 'immc'
    'body': 'import * as Colors from \'material-ui/styles/colors\''
  'Import Material Component':
    'prefix': 'imc'
    'body': 'import $1 from \'material-ui/$1\''
  'Import Flow Router':
    'prefix': 'impf'
    'body': 'import {FlowRouter} from \'meteor/kadira:flow-router\''
  'Import Underscore':
    'prefix': 'impu'
    'body': 'import _ from \'underscore\''
  'Import React':
    'prefix': 'impr'
    'body': 'import React from \'react\''
  'Import React Form':
    'prefix': 'imps'
    'body': 'import {Form, Field} from \'simple-react-form\''
  'Import Material Form Component':
    'prefix': 'imsc'
    'body': 'import $1 from \'simple-react-form-material-ui/lib/$2\''
  'Import Meteor':
    'prefix': 'impme'
    'body': 'import {Meteor} from \'meteor/meteor\''
  'Import Moment':
    'prefix': 'impm'
    'body': 'import moment from \'moment\''
  'Import Numeral':
    'prefix': 'impn'
    'body': 'import numeral from \'numeral\''
