'.source.js':
  'Import button':
    'prefix': 'impbutton'
    'body': 'import Button from \'orionsoft-parts/lib/components/Button\''
  'Import with message':
    'prefix': 'impmessage'
    'body': 'import withMessage from \'orionsoft-parts/lib/decorators/withMessage\''
  'Import container':
    'prefix': 'impcontainer'
    'body': 'import Container from \'orionsoft-parts/lib/components/Container\''
