'.source.js':
  'Create a simple react form':
    'prefix': 'form'
    'body': """
      <Form state={value} onChange={setValue}>
        $1
      </Form>
    """
  'Create a simple react form field':
    'prefix': 'field'
    'body': """
      <Field fieldName='$1' type={$2} />
    """
  'Import Simple React Form':
    'prefix': 'impsimplereactform'
    'body': 'import {Form, Field} from \'simple-react-form\''
