'.source.js':
  'Import alert':
    'prefix': 'impalert'
    'body': 'import withAlert from \'react-modules/decorators/alert\''
  'Import Weeshing':
    'prefix': 'impw'
    'body': 'import Weeshing from \'modules/main/init\''
  'Import Translate':
    'prefix': 'imptr'
    'body': 'import Translate from \'react-modules/i18n\''
  'Import Translate Old':
    'prefix': 'imptrold'
    'body': 'import Translate from \'modules/i18n/component\''
  'Import Breadcrumbs':
    'prefix': 'impbreadcrumbs'
    'body': 'import Breadcrumbs from \'modules/components/misc/breadcrumbs\''
